.list-goods li {
    margin-bottom: 10px;
    border: 1px solid;
    padding: 0px 10px 14px 10px;
}
.list-goods {
    max-height: 300px;
    overflow-y: auto;
    overflow-x: hidden;
}
.label-warning{
    background-color: #f0ad4e!important;
}
.label-success{
    background-color: #5cb85c!important;
}
.label-primary{
    background-color: #337ab7!important;
}
.label-info{
    background-color: #5bc0de!important;
}
