.timeline {
    white-space: nowrap;
    overflow-x: hidden;
}

.timeline ol {
    font-size: 0;
    width: 100vw;
    padding: 54px 0;
    transition: all 1s;
}

.timeline ol li {
    position: relative;
    display: inline-block;
    list-style-type: none;
    width: 60px;
    height: 3px;
    background: rgb(28, 3, 252);
}


/* .timeline ol li:last-child {
    margin-right: 14px;
    width: 60px;
} */

.timeline ol li:not(:first-child) {
    margin-left: 14px;
}

.timeline ol li::after {
    content: '';
    position: absolute;
    top: 50%;
    left: calc(100% + 1px);
    bottom: 0;
    width: 12px;
    height: 12px;
    transform: translateY(-50%);
    border-radius: 50%;
    background: #ee0216;
}

.timeline ol li div {
    position: absolute;
    left: 30%;
    width: 100px;
    padding: 15px;
    font-size: 1rem;
    white-space: normal;
    color: black;
    background: white;
}

.timeline ol li div::before {
    content: '';
    position: absolute;
    top: 100%;
    left: 0;
    width: 0;
    height: 0;
    border-style: solid;
}

.timeline ol li:nth-child(odd) div {
    top: -8px;
    transform: translateY(-100%);
}

.timeline ol li:nth-child(odd) div::before {
    top: 100%;
    border-width: 8px 8px 0 0;
    border-color: white transparent transparent transparent;
}

.timeline ol li:nth-child(even) div {
    top: calc(100% + 16px);
}

.timeline ol li:nth-child(even) div::before {
    top: -8px;
    border-width: 8px 0 0 8px;
    border-color: transparent transparent transparent white;
}

.arrow {
    border-radius: 50%;
    display: flex;
    padding: 0;
    top: 286px;
}

.arrow__next {
    position: absolute;
    left: 255px;
}

.arrow__prev {
    position: absolute;
}

.arrowImg {
    width: 25px;
}